  <%= render 'new book', user: @user , book: @book %>
  
  <div>
    <h1>User info</h1>
    <%= image_tag @user.get_image %>
    <p>name  <%= @user.name %>  </p>
    <p>introduction <%= @user.introduction %> </p>
  </div>


