<body>
 <header>
   <P>Bookers</P>
 </header>
  <main>
    <h1>welcome to <storong>Bookers</storong>!!</h1>

    <P>In <storong>Bookers</storong>,</P>
    <P>you can share and exchange your opinions , inpressions ,</P>
    <P>and emotions</P>

    <P>about various books!</P>
  </main>
   <footer>
     <P>CopyRight Infratop.inc</P>
   </footer>
</body>